# .gitignore made by Ian Kersz
# This file may be distributed as it doesnt impact the work done.

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Others
.docker-build
*.yy*
*.hh
etapa*
*.pdf
*.tab*
*.gv
*.html
*.xml
*.output
out.txt

# Folders
tests
specs
.vscode
asm